*.o
*.d
*-lex.cc
assignments/PA*/lexer
assignments/PA*/cgen
assignments/PA*/hello_world.cl
assignments/PA*/hello_world.s
assignments/PA*/lexer_comp
assignments/PA*/parser
assignments/PA*/semant
assignments/PA*/grading
assignments/PA*/*-grading.pl
assignments/PA*/custom_test
assignments/PA*/*.d
assignments/PA3/cool-parse.cc
